/* CSS Gerais */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: black;
}

/* CSS dos controles */

/* CSS rua */

.rua {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: gray;
  gap: 30px;
}

.rua > .faixa {
  flex: 1;
  height: 10px;
  background-color: #ddd;
}